@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

:root {
    --text-color-primary: #F8FAFC;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.heading-1{
    font-size: 3.5rem;
    line-height: 4rem;
}

